<% if user.errors.any? %>
  <div id="error-explanation">
    <h3>
      <%= pluralize(user.errors.count, "error") %> prevented save...
    </h3>

    <ul>
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>